.RepoPage
{
    padding: 2.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FormInput
{
    width: 60%;
    display: flex;
    justify-content: space-between;

}
.TextInput
{
    flex-grow: 2;
    margin-right: 0.5rem;
}
.Search
{
    flex-grow: 1;
    
    
}
.Clear
{
    flex-grow: 1;
    
    
}