li
{
    list-style: none;
 
    
}
.HomePage
{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.HomeList
{
    
    position: absolute;
    left: 35%;
    top: 90%;
    
}

